{% extends "map.html" %}

<div></div>

{% block contentbar %}

    <div id="page0" style="visibility: visible; height: 0px">
        <div align="center">
            <h1>Welcome to Airlines.</h1>
            <br>

            <button type="button" class="btn btn-default" onclick=recenter()>Reset map focus</button>
            <br><br>
            <h3>Filter shown routes</h3>
            <p></p>
            <h4>Source</h4>
            <b>Continent:</b>
            <select id="f-src-continent" onchange="updateCountries('f-src-continent', 'f-src-country')">
                <option value="all">All</option>

                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>

            <b>Country:</b>
            <select id="f-src-country" onchange="updateCities('f-src-country', 'f-src-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b> <select id="f-src-city">
                <option value="null">----</option>
        </select>
            <br>
            <br>
            <h4>Destination</h4>
            <b>Continent:</b>
            <select id="f-dst-continent" onchange="updateCountries('f-dst-continent', 'f-dst-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b> <select id="f-dst-country" onchange="updateCities('f-dst-country', 'f-dst-city')">
            <option value="all">All</option>
        </select> <br><br>
            <b>City:</b> <select id="f-dst-city">
                <option value="null">----</option>
        </select>
            <br>
            <br>
            <button id="filter" type="button" class="btn btn-default" onclick="filterRoutes()">Apply filter</button>
            <br><br>
        </div>
        <div id="filter-container"></div>
    </div>

    <div id="page1" style="visibility: hidden; height: 0px; margin-top: -10px">
        <div align="center">
            <h1>Search flights</h1>
            <p></p>
            <h4>Source</h4>
            <b>Continent:</b>
            <select id="s-src-continent" onchange="updateCountries('s-src-continent', 's-src-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b>
            <select id="s-src-country" onchange="updateCities('s-src-country', 's-src-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b>
            <select id="s-src-city">
                <option value="null">----</option>
            </select>
            <br>
            <br>
            <label for="start"><b>Departure date:</b></label>
            <input type="date" id="init-date" name="init-date"
                value="2018-12-01">

            <br>
            <br>
            <h4>Destination</h4>
            <b>Continent:</b>
            <select id="s-dst-continent" onchange="updateCountries('s-dst-continent', 's-dst-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b>
            <select id="s-dst-country" onchange="updateCities('s-dst-country', 's-dst-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b>
            <select id="s-dst-city">
                <option value="null">----</option>
            </select>
            <br>
            <br><br>

            <button id="search" type="button" class="btn btn-default" onclick="drawRoute()">Search</button>
            <br><br>
            <h3>Available routes:</h3>

        </div>

    </div>

    <div id="page2" style="visibility: hidden; height: 0px; margin-top: -10px" >
    <center>

        <h1>Points of interest</h1>
        <br>


        <b>City:</b><br>
        <br>
        <input type="text" name="query_citymonument" class="form-control" id="city-monum" required>
        <br>
        <button onclick="searchMonuments()"> Search</button>
        <br><br>
        <b>Touristic Destination:</b>
        <input type="text" name="query_citymonument" class="form-control" id="city-destiny" required>
        <br>
        <button onclick="searchDestination()"> Search  </button>

    </center>

    </div>

    <div id="page3" style="visibility: hidden; height: 0px; margin-top: -10px" >
        <center>
            <h1> Smart Search</h1>
            <br>
            <b>Origin:</b>
            <input type="text" name="query_citya" class="form-control" id="city_a" required>
            <br>
            <b>Destination:</b>
            <input type="text" name="query_cityb" class="form-control" id="city_b" required>
            <br><br>
            <label for="start"><b>Date:</b></label>
            <input type="date" id="date" name="date"
                value="2018-12-01">
            <br>
            <br>
            <button onclick="createRoute()">Create Route</button>
            <br>

        </center>
    </div>



    <script>
        function createRoute(){
            console.log(" createRoute()");
            var val_orig = document.getElementById("city_a").value;
            val_orig=val_orig.toLowerCase();
            val_orig = val_orig.replace(/ /g,"_");
            var val_dest = document.getElementById("city_b").value;
            val_dest=val_dest.toLowerCase();
            val_dest = val_dest.replace(/ /g,"_");
            var date = document.getElementById("date").value;
            console.log("date: "+date);
            console.log(val_orig);
            console.log(val_dest);
            var val = document.getElementById("city-destiny").value;
            console.log("val: "+val);
            httpGetAsync("http://localhost:8000/api/city/orig/"+val_orig+"/dest/"+val_dest+"/"+date+"/coord", updateRoute, 0);
        }

        function searchMonuments(){
            var val = document.getElementById("city-monum").value;
            console.log("val: "+val);
            //httpGetAsync("http://localhost:8000/api/country/" + value + "/cities", rcvCities, cityBox);
            httpGetAsync("http://localhost:8000/api/city/"+val+"/monuments", updateMonuments, val);

        }

        function searchDestination(){
            var val = document.getElementById("city-destiny").value;
            val = val.toLowerCase();
            val = val.replace(/ /g,"_");
            console.log("val: "+val);
            httpGetAsync("http://localhost:8000/api/monument/"+val,locateDestination,val);

        }

        updateCountries('f-src-continent', 'f-src-country');
        updateCountries('f-dst-continent', 'f-dst-country');
        updateCountries('s-src-continent', 's-src-country');
        updateCountries('s-dst-continent', 's-dst-country');

        updateCities('f-src-country', 'f-src-city');
        updateCities('f-dst-country', 'f-dst-city');
        updateCities('s-src-country', 's-src-city');
        updateCities('s-dst-country', 's-dst-city');

        function place() {
            {% for route, src_lat, src_long, src_iata, src_name, src_info, dst_lat, dst_long, dst_iata, dst_name, dst_info in route %}
                drawRoutes({{ route }}, "{{ src_name }}", "{{ dst_name }}", {{src_lat}}, {{src_long}}, {{dst_lat}}, {{dst_long}}, true);
                addPlacemark({{src_lat}}, {{src_long}}, {{src_iata}}, "{{ src_name }}", "{{ src_info }}", true);
                addPlacemark({{dst_lat}}, {{dst_long}}, {{dst_iata}}, "{{ dst_name }}", "{{ dst_info }}", true);
            {% endfor %}
        }

        function updateCountries(continentBox, countryBox) {
            var e = document.getElementById(continentBox);
            var value = e.options[e.selectedIndex].value;
            var select = document.getElementById(countryBox);
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            var option = document.createElement('option');
            option.setAttribute('value', 'all');
            option.appendChild(document.createTextNode("All"));
            document.getElementById(countryBox).appendChild(option);

            if (value == 'africa') {
                {% for country in africa %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'asia') {
                {% for country in asia %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'europe') {
                {% for country in europe %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'northame') {
                {% for country in northame %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'oceania') {
                {% for country in oceania %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));

                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'southame') {
                {% for country in southame %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'all') {
                {% for country in all_cont %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }

        }

        function updateCities(countryBox, cityBox) {
            var e = document.getElementById(countryBox);
            var value = e.options[e.selectedIndex].value;
            var select = document.getElementById(cityBox);
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            var option = document.createElement('option');
            option.setAttribute('value', 'null');
            option.appendChild(document.createTextNode('----'));
            document.getElementById(cityBox).appendChild(option);

            httpGetAsync("http://localhost:8000/api/country/" + value + "/cities", rcvCities, cityBox);
        }

        function rcvCities(response, arg) {
            var cities = response.slice(13, response.length-15).split("<br>");
            for (i=0; i<cities.length; i++) {
                if (cities[i].length > 0) {
                    var option = document.createElement('option');
                    option.setAttribute('value', cities[i]);
                    option.appendChild(document.createTextNode(cities[i]));
                    document.getElementById(arg).appendChild(option);
                }
            }
        }

        function filterRoutes() {
            if (document.getElementById("f-src-city").value == "null" || document.getElementById("f-dst-city").value == "null")
                alert("Source/Destination city must be set");
            else {
                removePlacemarks();
                src = document.getElementById("f-src-city").value;
                dst = document.getElementById("f-dst-city").value;
                httpGetAsync("http://localhost:8000/api/routes/" + src + "/" + dst, showFilteredInfo, "filter-container");
            }

        }

        function showFilteredInfo(response, arg) {
            //FIXME
            document.getElementById(arg).innerHTML += response;
        }

        function updateMonuments(response, arg){

            var parsed = response.slice(12, response.length-14);

            var obj = JSON.parse(parsed);
            removePlacemarks();

            for(i=0;i<obj.monuments.length;i+=1){
                addPlacemarkTourist(obj.monuments[i].lon,obj.monuments[i].lat, "None", obj.monuments[i].label, obj.monuments[i].typelabel, false);
            }
            zoomCamera();
            centerCamera(obj.lon_mean,obj.lat_mean);
        }

        function locateDestination(response, arg){
            var parsed = response.slice(12, response.length-14);
            var obj = JSON.parse(parsed);
            removePlacemarks();
            for(i=0;i<obj.obj.length;i+=1){
                dict= obj.obj[i];
                // console.log('dict : '+dict);

                addPlacemarkTourist(dict.lon,dict.lat, "None", dict.typelabel, dict.itemlabel, false);
            }
            zoomCamera();
            centerCamera(obj.lon_mean,obj.lat_mean);
        }

        function updateRoute(response,arg){
            var parsed = response.slice(12, response.length-14);
            var obj = JSON.parse(parsed);
            removePlacemarks();
            orig = obj.orig;
            console.log(orig);
            dst = obj.dest;
            console.log(dst);
            if(orig[0] == null && dst[0]!=null){
                console.log(1);
                addTerritorialRoute(dst[0][0],dst[0][1],dst[1][0],dst[1][1]);
            }
            else if(orig[0] != null && dst[0]==null){
                console.log(2);
                addTerritorialRoute(orig[0][0],orig[0][1],orig[1][0],orig[1][1]);
            }
            else if(orig[0] != null && dst[0]!=null){
                //There is an flight route
                console.log(3);
                addTerritorialRoute2(orig[0][0],orig[0][1],orig[1][0],orig[1][1],dst[0][0],dst[0][1],dst[1][0],dst[1][1]);
                var i;
                for(i=0;i<obj.hop.route.length;i++){
                    console.log("lat1 "+obj.hop.route[i].lat1);
                    console.log("lon1 "+obj.hop.route[i].lon1);
                    console.log("lat2 "+obj.hop.route[i].lat2);
                    console.log("lon2 "+obj.hop.route[i].lon2);
                    console.log("nameorig "+obj.hop.route[i].origin_air);
                    console.log("namedest "+obj.hop.route[i].destination_air);
                    drawRoutes("Best Route", obj.hop.route[i].origin_air, obj.hop.route[i].destination_air,obj.hop.route[i].lat1,obj.hop.route[i].lon1, obj.hop.route[i].lat2,obj.hop.route[i].lon2, false);
                    addPlacemark(obj.hop.route[i].lat1, obj.hop.route[i].lon1, obj.hop.route[i].source, obj.hop.route[i].origin_air, obj.hop.route[i].source, false);
                    addPlacemark(obj.hop.route[i].lat2, obj.hop.route[i].lon2, obj.hop.route[i].destination, obj.hop.route[i].destination_air, obj.hop.route[i].destination, false);
                }
                for(i=0;i<obj.price.route.length;i++){
                    console.log("lat1 "+obj.price.route[i].lat1);
                    console.log("lon1 "+obj.price.route[i].lon1);
                    console.log("lat2 "+obj.price.route[i].lat2);
                    console.log("lon2 "+obj.price.route[i].lon2);
                    console.log("nameorig "+obj.price.route[i].origin_air);
                    console.log("namedest "+obj.price.route[i].destination_air);
                    drawRoutes("Best Route", obj.price.route[i].origin_air, obj.price.route[i].destination_air,obj.price.route[i].lat1,obj.price.route[i].lon1, obj.price.route[i].lat2,obj.price.route[i].lon2, false);
                    addPlacemark(obj.price.route[i].lat1, obj.price.route[i].lon1, obj.price.route[i].source, obj.price.route[i].origin_air, obj.price.route[i].source, false);
                    addPlacemark(obj.price.route[i].lat2, obj.price.route[i].lon2, obj.price.route[i].destination, obj.price.route[i].destination_air, obj.price.route[i].destination, false);
                }
                for(i=0;i<obj.distance.route.length;i++){
                    console.log("lat1 "+obj.distance.route[i].lat1);
                    console.log("lon1 "+obj.distance.route[i].lon1);
                    console.log("lat2 "+obj.distance.route[i].lat2);
                    console.log("lon2 "+obj.distance.route[i].lon2);
                    console.log("nameorig "+obj.distance.route[i].origin_air);
                    console.log("namedest "+obj.distance.route[i].destination_air);
                    drawRoutes("Best Route", obj.distance.route[i].origin_air, obj.distance.route[i].destination_air,obj.distance.route[i].lat1,obj.distance.route[i].lon1, obj.distance.route[i].lat2,obj.distance.route[i].lon2, false);
                    addPlacemark(obj.distance.route[i].lat1, obj.distance.route[i].lon1, obj.distance.route[i].source, obj.distance.route[i].origin_air, obj.distance.route[i].source, false);
                    addPlacemark(obj.distance.route[i].lat2, obj.distance.route[i].lon2, obj.distance.route[i].destination, obj.distance.route[i].destination_air, obj.distance.route[i].destination, false);
                }
                for(i=0;i<obj.time.route.length;i++){
                    console.log("lat1 "+obj.time.route[i].lat1);
                    console.log("lon1 "+obj.time.route[i].lon1);
                    console.log("lat2 "+obj.time.route[i].lat2);
                    console.log("lon2 "+obj.time.route[i].lon2);
                    console.log("nameorig "+obj.time.route[i].origin_air);
                    console.log("namedest "+obj.time.route[i].destination_air);
                    drawRoutes("Best Route", obj.time.route[i].origin_air, obj.time.route[i].destination_air,obj.time.route[i].lat1,obj.time.route[i].lon1, obj.time.route[i].lat2,obj.time.route[i].lon2, false);
                    addPlacemark(obj.time.route[i].lat1, obj.time.route[i].lon1, obj.time.route[i].source, obj.time.route[i].origin_air, obj.time.route[i].source, false);
                    addPlacemark(obj.time.route[i].lat2, obj.time.route[i].lon2, obj.time.route[i].destination, obj.time.route[i].destination_air, obj.time.route[i].destination, false);
                }

            }
        }


        function httpGetAsync(theUrl, callback, arg) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText, arg);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

    </script>
{% endblock %}
