{% extends "map.html" %}

<div></div>

{% block contentbar %}

    <div id="page0" style="visibility: visible; height: 0px">
        <div align="center">
            <h1>Welcome to Airlines.</h1>
            <br>

            <button type="button" class="btn btn-default" onclick=recenter()>Reset map focus</button>
            <br><br>
            <h3>Filter shown routes</h3>
            <p></p>
            <h4>Source</h4>
            <b>Continent:</b>
            <select id="f-src-continent" onchange="updateCountries('f-src-continent', 'f-src-country')">
                <option value="all">All</option>
                x
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>

            <b>Country:</b>
            <select id="f-src-country" onchange="updateCities('f-src-country', 'f-src-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b> <select id="f-src-city">
                <option value="null">----</option>
        </select>
            <br>
            <br>
            <h4>Destination</h4>
            <b>Continent:</b>
            <select id="f-dst-continent" onchange="updateCountries('f-dst-continent', 'f-dst-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b> <select id="f-dst-country" onchange="updateCities('f-dst-country', 'f-dst-city')">
            <option value="all">All</option>
        </select> <br><br>
            <b>City:</b> <select id="f-dst-city">
                <option value="null">----</option>
        </select>
            <br>
            <br>
            <button id="filter" type="button" class="btn btn-default" onclick="filterRoutes()">Apply filter</button>
            <br><br>
        </div>
        <div id="filter-container"></div>
    </div>

    <div id="page1" style="visibility: hidden; height: 0px; margin-top: -10px">
        <div align="center">
            <h1>Search flights</h1>
            <p></p>
            <h4>Source</h4>
            <b>Continent:</b>
            <select id="s-src-continent" onchange="updateCountries('s-src-continent', 's-src-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b>
            <select id="s-src-country" onchange="updateCities('s-src-country', 's-src-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b>
            <select id="s-src-city">
                <option value="null">----</option>
            </select>
            <br>
            <br>
            <h4>Destination</h4>
            <b>Continent:</b>
            <select id="s-dst-continent" onchange="updateCountries('s-dst-continent', 's-dst-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b>
            <select id="s-dst-country" onchange="updateCities('s-dst-country', 's-dst-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b>
            <select id="s-dst-city">
                <option value="null">----</option>
            </select>
            <br>
            <br>
            <button id="search" type="button" class="btn btn-default">Search</button>
            <br><br>
            <h3>Available routes:</h3>

        </div>

    </div>

    <div id="page2" style="visibility: hidden; height: 0px; margin-top: -10px" >
    <center>

        <h1>Points of interest</h1>
        <br>
        <form action="." method="post">
            {% csrf_token %}
            <b>City:</b><br>
            <input type="text" name="query_citymonument" class="form-control" id="city-monum" required>
            <br>
            <input type="submit" value="Submit">
            </center>
        </form>
    </div>



    <script>
        updateCountries('f-src-continent', 'f-src-country');
        updateCountries('f-dst-continent', 'f-dst-country');
        updateCountries('s-src-continent', 's-src-country');
        updateCountries('s-dst-continent', 's-dst-country');

        updateCities('f-src-country', 'f-src-city');
        updateCities('f-dst-country', 'f-dst-city');
        updateCities('s-src-country', 's-src-city');
        updateCities('s-dst-country', 's-dst-city');

        function place() {
            {% for route, src_lat, src_long, src_iata, src_name, src_info, dst_lat, dst_long, dst_iata, dst_name, dst_info in route %}
                drawRoutes({{ route }}, "{{ src_name }}", "{{ dst_name }}", {{src_lat}}, {{src_long}}, {{dst_lat}}, {{dst_long}}, true);
                addPlacemark({{src_lat}}, {{src_long}}, {{src_iata}}, "{{ src_name }}", "{{ src_info }}", true);
                addPlacemark({{dst_lat}}, {{dst_long}}, {{dst_iata}}, "{{ dst_name }}", "{{ dst_info }}", true);
            {% endfor %}
        }

        function updateCountries(continentBox, countryBox) {
            var e = document.getElementById(continentBox);
            var value = e.options[e.selectedIndex].value;
            var select = document.getElementById(countryBox);
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            var option = document.createElement('option');
            option.setAttribute('value', 'all');
            option.appendChild(document.createTextNode("All"));
            document.getElementById(countryBox).appendChild(option);

            if (value == 'africa') {
                {% for country in africa %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'asia') {
                {% for country in asia %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'europe') {
                {% for country in europe %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'northame') {
                {% for country in northame %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'oceania') {
                {% for country in oceania %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'southame') {
                {% for country in southame %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }
            if (value == 'all') {
                {% for country in all_cont %}
                    var option = document.createElement('option');
                    option.setAttribute('value', "{{ country }}");
                    option.appendChild(document.createTextNode("{{ country }}"));
                    document.getElementById(countryBox).appendChild(option);
                {% endfor %}
            }

        }

        function updateCities(countryBox, cityBox) {
            var e = document.getElementById(countryBox);
            var value = e.options[e.selectedIndex].value;
            var select = document.getElementById(cityBox);
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            var option = document.createElement('option');
            option.setAttribute('value', 'null');
            option.appendChild(document.createTextNode('----'));
            document.getElementById(cityBox).appendChild(option);

            httpGetAsync("http://localhost:8000/api/country/" + value + "/cities", rcvCities, cityBox);
        }

        function rcvCities(response, arg) {
            var cities = response.slice(13, response.length-15).split("<br>");
            for (i=0; i<cities.length; i++) {
                if (cities[i].length > 0) {
                    var option = document.createElement('option');
                    option.setAttribute('value', cities[i]);
                    option.appendChild(document.createTextNode(cities[i]));
                    document.getElementById(arg).appendChild(option);
                }
            }
        }

        function filterRoutes() {
            if (document.getElementById("f-src-city").value == "null" || document.getElementById("f-dst-city").value == "null")
                alert("Source/Destination city must be set");
            else {
                removePlacemarks();
                src = document.getElementById("f-src-city").value;
                dst = document.getElementById("f-dst-city").value;
                httpGetAsync("http://localhost:8000/api/routes/" + src + "/" + dst, showFilteredInfo, "filter-container");
            }

        }

        function showFilteredInfo(response, arg) {
            //FIXME
            document.getElementById(arg).innerHTML += response;
        }

        function httpGetAsync(theUrl, callback, arg) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText, arg);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

        function initFunction(){

            {%if info %}
                {%for d in monuments%}
                    console.log({{d.coords.0}})
                    console.log({{d.coords.1}})
                    addPlacemark({{d.coords.1}}, {{d.coords.0}}, "None", "{{ d.coords.name }}", "None", false);
                {%endfor%}
            {%endif%}
        }
    </script>
{% endblock %}
