{% extends "map.html" %}

<div></div>

{% block contentbar %}

    <div id="page1" style="visibility: visible; height: 0px; margin-top: -10px">
        <div align="center">
            <h1>Search flights</h1>
            <p></p>
            <h4>Source</h4>
            <b>Continent:</b>
            <select id="src-continent" onchange="updateCountries('src-continent', 'src-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b>
            <select id="src-country" onchange="updateCities('src-country', 'src-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b>
            <select id="src-city">
                <option value="null">----</option>
            </select>
            <br>
            <br>
            <h4>Destination</h4>
            <b>Continent:</b>
            <select id="dst-continent" onchange="updateCountries('dst-continent', 'dst-country')">
                <option value="all">All</option>
                <option value="africa">Africa</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="northame">North America</option>
                <option value="oceania">Oceania</option>
                <option value="southame">South America</option>
            </select> <br><br>
            <b>Country:</b>
            <select id="dst-country" onchange="updateCities('dst-country', 'dst-city')">
                <option value="all">All</option>
            </select> <br><br>
            <b>City:</b>
            <select id="dst-city">
                <option value="null">----</option>
            </select>
            <br>
            <br>
            <button id="search" type="button" class="btn btn-default" onclick="searchRoutes()">Search</button>
            <br><br>
        </div>
        <div id="search-container"></div>
        </div>

    </div>

    <div id="page2" style="visibility: hidden; height: 0px; margin-top: -10px" >
    <center>

        <h1>Points of interest</h1>
        <br>


        <b>City:</b><br>
        <input type="text" name="query_citymonument" class="form-control" id="city-monum" required>
        <br>
        <button onclick="searchMonuments()"> Search</button>
        <br><br>
        <b>Touristic Destination:</b>
        <input type="text" name="query_citymonument" class="form-control" id="city-destiny" required>
        <br>
        <button onclick="searchDestination()"> Search  </button>

    </center>

    </div>

    <div id="page3" style="visibility: hidden; height: 0px; margin-top: -10px" >
        <center>
            <h1> Smart Search</h1>
            <br>
            <b>Origin:</b>
            <input type="text" name="query_citya" class="form-control" id="city_a" required>
            <br>
            <b>Destination:</b>
            <input type="text" name="query_cityb" class="form-control" id="city_b" required>
            <br>
            <button onclick="createRoute()">Create Route</button>
            <br><br>

        </center>
    </div>


    <script>
        function createRoute(){
            console.log(" createRoute()");
            var val_orig = document.getElementById("city_a").value;
            var val_dest = document.getElementById("city_b").value;
            console.log(val_orig);
            console.log(val_dest);
            httpGetAsync("http://localhost:8000/api/city/orig/"+val_orig+"/dest/"+val_dest+"/coord", updateRoute, 0);
        }

        function searchMonuments(){
            var val = document.getElementById("city-monum").value;
            console.log("val: "+val);

            //httpGetAsync("http://localhost:8000/api/country/" + value + "/cities", rcvCities, cityBox);
            httpGetAsync("http://localhost:8000/api/city/"+val+"/monuments", updateMonuments, val);

        }

        function searchDestination(){
            var val = document.getElementById("city-destiny").value;
            val = val.toLowerCase();
            val = val.replace(/ /g,"_");
            console.log("val: "+val);
            httpGetAsync("http://localhost:8000/api/monument/"+val,locateDestination,val);

        }


        updateCountries('src-continent', 'src-country');
        updateCountries('dst-continent', 'dst-country');
        
        updateCities('src-country', 'src-city');
        updateCities('dst-country', 'dst-city');


        function updateCountries(continentBox, countryBox) {
            var e = document.getElementById(continentBox);
            var value = e.options[e.selectedIndex].value;
            var select = document.getElementById(countryBox);
            var list = [];

            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            if (value == 'africa') {
                {% for country in africa %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }
            if (value == 'asia') {
                {% for country in asia %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }
            if (value == 'europe') {
                {% for country in europe %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }
            if (value == 'northame') {
                {% for country in northame %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }
            if (value == 'oceania') {
                {% for country in oceania %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }
            if (value == 'southame') {
                {% for country in southame %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }
            if (value == 'all') {
                {% for country in all_cont %}
                    if (!list.includes("{{ country }}"))
                        list.push("{{ country }}");
                {% endfor %}
            }

            list.sort();

            for (i=0; i<list.length; i++) {
                option = document.createElement('option');
                option.setAttribute('value', list[i]);
                option.appendChild(document.createTextNode(list[i]));
                document.getElementById(countryBox).appendChild(option);
            }
        }

        function updateCities(countryBox, cityBox) {
            var e = document.getElementById(countryBox);
            var value = e.options[e.selectedIndex].value;
            var select = document.getElementById(cityBox);
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }

            var option = document.createElement('option');
            option.setAttribute('value', 'null');
            option.appendChild(document.createTextNode('----'));
            document.getElementById(cityBox).appendChild(option);

            httpGetAsync("http://localhost:8000/api/country/" + value + "/cities", rcvCities, cityBox);
        }

        function rcvCities(response, arg) {
            var cities = response.slice(13, response.length-15).split("<br>");
            var list = [];
            for (i=0; i<cities.length; i++) {
                if (/\S/.test(cities[i]) && !list.includes(cities[i])) {
                    list.push(cities[i]);
                }
            }

            list.sort();

            for (i=0; i<list.length; i++) {
                var option = document.createElement('option');
                option.setAttribute('value', list[i]);
                option.appendChild(document.createTextNode(list[i]));
                document.getElementById(arg).appendChild(option);
            }
        }

        function searchRoutes() {
            var f_src = document.getElementById("src-city").value
            var f_dst =document.getElementById("dst-city").value
            if (f_src == "null" ||f_dst == "null")
                alert("Source/Destination city must be set");
            else if (f_src == f_dst)
                alert("Source and destination cities must be different");
            else {
                document.getElementById("search").innerText = "Searching...";
                removePlacemarks();
                src = document.getElementById("src-city").value;
                dst = document.getElementById("dst-city").value;

                httpGetAsync("http://localhost:8000/api/routes/" + src + "/" + dst, showSearchInfo, "search-container");
            }

        }

        function showSearchInfo(response, arg) {
            var div = document.getElementById(arg);
            div.innerHTML = "<center><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"checkbox\" onChange=\"toggleDescriptions()\">Show enabled routes info</input></center>"
            div.innerHTML += response;
            document.getElementById("search").innerText = "New search";

            for (i=0; i<5; i++) {
                var optimize = document.getElementById("optimize" + i).innerText;

                var flight = document.getElementById("flight" + i);
                var btncolor;
                switch(i) {
                    case 0:
                        btncolor = "btn-danger";
                        break;
                    case 1:
                        btncolor = "btn-info";
                        break;
                    case 2:
                        btncolor = "btn-success";
                        break;
                    case 3:
                        btncolor = "btn-warning";
                        break;
                    case 4:
                        btncolor = "btn-primary";
                        break;
                }
                var html = "<br><center><button id=\"toggle" + i + "\" type=\"button\" class=\"btn " + btncolor + "\" onclick=\"toggleFlight(" + i + ")\">Toggle " + optimize + " metric route</button></center>";
                flight.insertAdjacentHTML("beforebegin", html);

                document.getElementById("flight" + i).style.display = "none";
            }
        }

        shownRoutes = [false, false, false, false, false];
        function placeRoute(i) {
            var hops = document.getElementById("hops" + i).innerText;
            for (j=0; j<hops; j++) {
                var route = document.getElementById("id" + i).innerText;
                var subroute = document.getElementById("subrouteId_r" + i + "_sub" + j).innerText;
                var src_lat = document.getElementById("lat_r" + i + "_sub" + j + "_src").innerText;
                var src_long = document.getElementById("lon_r" + i + "_sub" + j + "_src").innerText;
                var src_iata = document.getElementById("iata_r" + i + "_sub" + j + "_src").innerText;
                var src_name = document.getElementById("label_r" + i + "_sub" + j + "_src").innerText;
                var src_city = document.getElementById("city_r" + i + "_sub" + j + "_src").innerText;
                var src_country = document.getElementById("country_r" + i + "_sub" + j + "_src").innerText;
                var src_info = "<b>" + src_name + "<br> IATA: </b>" + src_iata + "<br>" + src_city + ", " + src_country + "<br><b>Longitude:</b> " + src_long + "<br><b>Latitude: </b>" + src_lat

                var dst_lat = document.getElementById("lat_r" + i + "_sub" + j + "_dst").innerText;
                var dst_long = document.getElementById("lon_r" + i + "_sub" + j + "_dst").innerText;
                var dst_iata = document.getElementById("iata_r" + i + "_sub" + j + "_dst").innerText;
                var dst_name = document.getElementById("label_r" + i + "_sub" + j + "_dst").innerText;
                var dst_city = document.getElementById("city_r" + i + "_sub" + j + "_dst").innerText;
                var dst_country = document.getElementById("country_r" + i + "_sub" + j + "_dst").innerText;
                var dst_info = "<b>" + dst_name + "<br> IATA: </b>" + dst_iata + "<br>" + dst_city + ", " + dst_country + "<br><b>Longitude:</b> " + dst_long + "<br><b>Latitude: </b>" + dst_lat

                drawRoutesColor(route, parseFloat(subroute), "info", src_name, dst_name, parseFloat(src_lat), parseFloat(src_long), parseFloat(dst_lat), parseFloat(dst_long), i);
                addPlacemarkColor(src_lat, src_long, src_iata, src_name, src_info, i);
                addPlacemarkColor(dst_lat, dst_long, dst_iata, dst_name, dst_info, i);
            }
        }

        function toggleDescriptions() {

            for (k=0; k<shownRoutes.length; k++) {
                if (shownRoutes[k]) {
                    var div = document.getElementById("flight" + k);
                    if (div.style.display == "block")
                        div.style.display = "none";
                    else
                        div.style.display = "block";
                }
            }
        }

        function toggleFlight(i) {
            if (shownRoutes[i] == false)
                shownRoutes[i] = true;
            else
                shownRoutes[i] = false;

            removePlacemarks();
            lst = [];

            for (k=0; k<shownRoutes.length; k++) {
                if (shownRoutes[k]) {
                    placeRoute(k);
                }
            }

        }

        function updateMonuments(response, arg){

            var parsed = response.slice(12, response.length-14);

            var obj = JSON.parse(parsed);
            removePlacemarks();

            for(i=0;i<obj.monuments.length;i+=1){
                addPlacemarkTourist(obj.monuments[i].lon,obj.monuments[i].lat, "None", obj.monuments[i].label, "None", false);
            }
            zoomCamera();
            centerCamera(obj.lon_mean,obj.lat_mean);
        }

        function locateDestination(response, arg){
            var parsed = response.slice(12, response.length-14);
            var obj = JSON.parse(parsed);
            removePlacemarks();
            for(i=0;i<obj.obj.length;i+=1){
                dict= obj.obj[i];
                // console.log('dict : '+dict);

                addPlacemarkTourist(dict.lon,dict.lat, "None", dict.label, "None", false);
            }
            zoomCamera();
            centerCamera(obj.lon_mean,obj.lat_mean);
        }

        function updateRoute(response,arg){
            var parsed = response.slice(12, response.length-14);
            var obj = JSON.parse(parsed);
            removePlacemarks();
            console.log("updateRoute(response,arg)");
            console.log(obj);
            orig = obj.orig;
            dst = obj.dest;
            addPlacemarkTourist(orig[1],orig[0], "None", "None", "None", false);
            addPlacemarkTourist(dst[1],dst[0], "None", "None", "None", false);
            addTerritorialRoute(orig[1],orig[0],dst[1],dst[0]);
        }


        function httpGetAsync(theUrl, callback, arg) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText, arg);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

    </script>
{% endblock %}
