{% extends "base.html" %}

{% block content %}

<div class="container" style="padding-left: 250px">
    <!-- <button onclick="lunch_button()">Almoço</button> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button onclick="dinner_button()" style="height:100%; width:100%">Jantar</button>
            </div>
            <div class="col-md-6">
                <button onclick="dinner_button2()" style="height:100%; width:100%">Almoço</button>
            </div>
        </div>
    </div>

    <div id="lunch">
        <h1 align="center">Almoço</h1>
        <div class="container">
            <div class="row">
                {% for lunch in all_lunch%}
                <div class = "col-md-6">
                    <p class="text-center"><font size=6><b>{{lunch.name}}</b></font></p>
                    {% if lunch.Sopa != None %}
                    <p><font size=3><b>Sopa : </b>{{lunch.Sopa}}</font></p>
                    {% endif %}
                    {% if lunch.Pratonormalcarne != None %}
                    <p><font size=3><b>Prato normal carne : </b>{{lunch.Pratonormalcarne}}</font></p>
                    {% endif %}
                    {% if lunch.Pratonormalpeixe != None %}
                    <p><font size=3><b>Prato normal peixe : </b>{{lunch.Pratonormalpeixe}}</font></p>
                    {% endif %}
                    {% if lunch.Pratodieta != None %}
                    <p><font size=3><b>Prato dieta : </b>{{lunch.Pratodieta}}</font></p>
                    {% endif %}
                    {% if lunch.Pratovegetariano != None %}
                    <p><font size=3><b>Prato vegetariano : </b>{{lunch.Pratovegetariano}}</font></p>
                    {% endif %}
                    {% if lunch.Pratoopção != None %}
                    <p><font size=3><b>Prato opção : </b>{{lunch.Pratoopção}}</font></p>
                    {% endif %}
                    {% if lunch.Salada != None %}
                    <p><font size=3><b>Salada : </b>{{lunch.Salada}}</font></p>
                    {% endif %}
                    {% if lunch.Diversos != None %}
                    <p><font size=3><b>Diversos : </b>{{lunch.Diversos}}</font></p>
                    {% endif %}
                    {% if lunch.Sobremesa != None %}
                    <p><font size=3><b>Sobremesa : </b>{{lunch.Sobremesa}}</font></p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="dinner">
        <h1 align="center">Jantar</h1>
        <div class="container">
            <div class="row">
                {% for dinner in all_dinner%}
                <div class = "col-md-6">
                    <p class="text-center"><font size=6><b>{{dinner.name}}</b></font></p>
                    {% if dinner.Sopa != None %}
                    <p><font size=3><b>Sopa : </b>{{dinner.Sopa}}</font></p>
                    {% endif %}
                    {% if dinner.Pratonormalcarne != None %}
                    <p><font size=3><b>Prato normal carne : </b>{{dinner.Pratonormalcarne}}</font></p>
                    {% endif %}
                    {% if dinner.Pratonormalpeixe != None %}
                    <p><font size=3><b>Prato normal peixe : </b>{{dinner.Pratonormalpeixe}}</font></p>
                    {% endif %}
                    {% if dinner.Pratodieta != None %}
                    <p><font size=3><b>Prato dieta : </b>{{dinner.Pratodieta}}</font></p>
                    {% endif %}
                    {% if dinner.Pratovegetariano != None %}
                    <p><font size=3><b>Prato vegetariano : </b>{{dinner.Pratovegetariano}}</font></p>
                    {% endif %}
                    {% if dinner.Pratoopção != None %}
                    <p><font size=3><b>Prato opção : </b>{{dinner.Pratoopção}}</font></p>
                    {% endif %}
                    {% if dinner.Salada != None %}
                    <p><font size=3><b>Salada : </b>{{dinner.Salada}}</font></p>
                    {% endif %}
                    {% if dinner.Diversos != None %}
                    <p><font size=3><b>Diversos : </b>{{dinner.Diversos}}</font></p>
                    {% endif %}
                    {% if dinner.Sobremesa != None %}
                    <p><font size=3><b>Sobremesa : </b>{{dinner.Sobremesa}}</font></p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function dinner_button(){
        console.log("dinner_button");
        var off2=document.getElementById('dinner');
        if (off2.style.display == "none") {
            off2.style.display = "block";
        } else {
            off2.style.display = "none";
        }
    };
    function dinner_button2(){
        console.log("lunch_button");
        var off2=document.getElementById('lunch');
        if (off2.style.display == "none") {
            off2.style.display = "block";
        } else {
            off2.style.display = "none";
        }
    };
</script>

{% endblock %}
