{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<!-- Right Side Bar -->

<div class="container-fluid">
    <h1>Meteorology</h1>
    <p></p>

    <table class="table table-striped">
      <tbody>
        <tr>
            <th scope="row">
                {% ifequal status1 "Sunny" %}
                <img src={% static "img/logo.png" %} alt="logo" height="10%"  style="padding-top: 10%">
                {% endifequal %}
            </th>
          <td><b>{{ weekday1 }}</b> <br>{{ status1 }} <br> {{ mintemp1 }} <br> {{ maxtemp1 }} <br> {{ humidity1 }}</td>
        </tr>
        <tr>
          <th scope="row">
                {% ifequal status2 "Sunny" %}
                <img src={% static "img/logo.png" %} alt="logo" height="10%"  style="padding-top: 10%">
                {% endifequal %}
            </th>
          <td><b>{{ weekday2 }}</b> <br>{{ status2 }} <br> {{ mintemp2 }} <br> {{ maxtemp2 }} <br> {{ humidity2 }}</td>
        </tr>
        <tr>
          <th scope="row">
                {% ifequal status3 "Sunny" %}
                <img src={% static "img/logo.png" %} alt="logo" height="10%"  style="padding-top: 10%">
                {% endifequal %}
            </th>
          <td><b>{{ weekday3 }} </b> <br> {{ status3 }}<br> {{ mintemp3 }} <br> {{ maxtemp3 }} <br> {{ humidity3 }}</td>
        </tr>
      </tbody>
    </table>
    <p> </p>
</div>
{% endblock %}
