{% extends "base.html" %}

{% block content %}


<div class="container" style="padding-left: 150px;padding-top:10px; ">
	<div>
  	 <h1> Gerar horarios</h1>
		<form action= "." method ="post">
			{% csrf_token %}
			Curso: <select name='curso'>
				<option value='9263'>MEI</option>
				<option value='8295'>LEI</option>
				<option value='8240'>MIECT</option>
				<option value='8309'>MIEET</option>
			</select>
			Ano: <select name='ano'>
				<option value='1'>1º</option>
				<option value='2'>2º</option>
				<option value='3'>3º</option>
				<option value='4'>4º</option>
				<option value='5'>5º</option>
			</select>
			<input type="submit" value="Gerar">

		</form>
	</div>

	{% for opcao in all_schedules %}
		<table>
			<thead>
				<col width="200">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">
				<col width="100">

				<tr>
					<th> Dias da Semana</th>
					<th colspan="2">9h</th>
					<th colspan="2">10h</th>
					<th colspan="2">11h</th>
					<th colspan="2">12h</th>
					<th colspan="2">13h</th>
					<th colspan="2">14h</th>
					<th colspan="2">15h</th>
					<th colspan="2">16h</th>
					<th colspan="2">17h</th>
					<th colspan="2">18h</th>
					<th colspan="2">19h</th>
					<th colspan="2">20h</th>
				</tr>
				<tbody>
					{% for k in opcao.items %}
						<tr>
							<th>{{k.0}}</th>
							{% for v in k.1 %}
							<th colspan="{{v.columns}}">
							{% if v.cadeira != None %}
								<p>{{v.cadeira}}</p>
								<p>[{{v.turno}}] {{v.sala}}
								{% endif %}</th>
							{% endfor %}
						</tr>
						<br>
					{% endfor %}
				</tbody>
			</thead>
		</table>
    {% endfor %}

</div>
{% endblock %}
