{% extends "base.html" %}

{% block content %}

<!-- Right Side Bar -->


<!-- <div class="container-fluid" style="padding-left: 250px">
    <h1>Horarios</h1>
    <p></p>
    <p>We will use this page to create the CLients schedules</p>
</div> -->
<div class="container" style="padding-left: 150px;padding-top:10px; ">
    <table>
        <thead>
          <tr>
            <th>Horas</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
          </tr>
        </thead>
        <!-- <tfoot>
          <tr>
            <td colspan="4">SUM</td>
            <td>118</td>
          </tr>
        </tfoot> -->
        <tbody>
          <tr>
            <td rowspan="2">Haircut</td>
            <td>Hairdresser</td>
            <td>12/09</td>
            <td>Great idea</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Lasagna</td>
            <td>Restaurant</td>
            <td>12/09</td>
            <td>Regrets</td>
            <td>18</td>
          </tr>
          <tr>
            <td>Shoes</td>
            <td>Shoeshop</td>
            <td>13/09</td>
            <td>Big regrets</td>
            <td>65</td>
          </tr>
          <tr>
            <td>Toothpaste</td>
            <td>Supermarket</td>
            <td>13/09</td>
            <td>Good</td>
            <td>5</td>
          </tr>
        </tbody>
    </table>
</div>
{% endblock %}
